

.btnLogOut {
    -fx-background-color: transparent;
    -fx-font-family: Verdana;
    -fx-font-weight: bold;
    -fx-font-size: 11px ;

}
.btnLogOut:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #388DC8;
    -fx-cursor: hand;
    -fx-font-size: 12px ;
}

.btnLogOut:pressed {
    -fx-text-fill: #000000;
}

.menu-button .arrow {
    -fx-padding: 0;
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

/* Legg til i handlekurv og bestill-knapp */
.btnPayAdd {
    -fx-background-color: rgba(1, 160, 1, 0.66);
    -fx-background-radius: 6px;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-cursor: hand;
}

.btnPayAdd:hover {
    -fx-border-color: green;
    -fx-border-radius: 6px;
}

.btnPayAdd:pressed {
    -fx-text-fill: green;
}

/* drop down-meny PC-komponenter */
.titledPane{
    -fx-font-family: Verdana;
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-alignment: baseline-left;

}

.titledPane .arrow {
    -fx-background-color: #388DC8;
    -fx-padding: 5 3 5 10;
}

.titledPane .arrow:pressed{
    -fx-border-color: #005182;
    -fx-padding: 3 10 5 10;
}

.titledPane .title {
    -fx-font-size: 14px;
    -fx-font-family: Verdana;
    -fx-background-color: rgba(56, 141, 200, 0.15);
    -fx-border-width: 0;
    -fx-pref-height: 40px;
    -fx-border-radius: 50px;
}

/* Bakgrunner */
.scroll-pane > .viewport {
    -fx-background-color: rgba(56, 141, 200, 0.15);
}

.scroll-pane {
    -fx-background-color:white;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: rgba(0, 0, 0, 0.43);
    -fx-border-width: 0;


}
