/*Design av knapper */
.button {
    -fx-background-color: #70A4C8;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color:#388DC8;
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #0071BF;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-border-radius: 6px ;
}

/*Fortsett som gjest - knapp*/

.btnGuest {
    -fx-border-color: white;
    -fx-text-fill: #70A4C8 ;
    -fx-background-color: transparent;

}

.btnGuest:hover {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #388DC8;
}

.btnGuest:pressed {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #006ec3;
    -fx-background-color: transparent;

}
/*Design av input */

.input {
    -fx-background-color: transparent;
    -fx-border-color: #70A4C8;
    -fx-border-width: 0px 0px 2px 0px;
}

/* Design av bakgrunn */
.loginPane {
    -fx-background-radius: 6px;
    -fx-background-color: white;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow( three-pass-box , #a8a8a8, 1 , 1 , 1 , 1 )
}

.anchorPane {
    -fx-background-color: #70A4C8;

}