/*Menybar */
.menyBar {
    -fx-background-color: #ffffff;
    -fx-font-size: 12px;
    -fx-font-family: Verdana;
}

.anchorCenter {
    -fx-background-color: #f5f5f5;
}



/* Tableview */

.tblView {
    -fx-effect: dropshadow( three-pass-box , #bbbbbb , 0.4 , 0.4 , 1 , 1 );
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.column {
    -fx-font-size: 12px;
    -fx-font-weight: none;
    -fx-font-family: Verdana;
    -fx-cursor: hand;
    -fx-text-fill: black;
}

.columnPrice {
    -fx-alignment: center-right;
}


.table-row-cell:selected {
    -fx-background-color: rgba(56, 141, 200, 0.18);
    -fx-text-fill: black;
}

.table-view .scroll-bar {
    -fx-background-color: white;
    -fx-pref-width: 6px;
    -fx-pref-height: 5px;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: rgba(161, 161, 161, 0.49);
}

/* Legg til ny komponent pane*/
.nyKomponentPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( three-pass-box , #bbbbbb , 0.5 , 0.5 , 1 , 1 );
}

/*Andre knapper*/
.btnDelete {
    -fx-background-color: rgba(6, 100, 172, 0.62);
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: Verdana;
    -fx-cursor: hand;
}

.btnDelete:hover {
    -fx-border-color: #005182;
    -fx-border-radius: 6px;
}

.btnDelete:pressed {
    -fx-text-fill:#005182;
}

/*input-fields */
.input {
    -fx-background-color: white;
    -fx-background-radius: 5px;

    -fx-border-radius: 3px;
    -fx-border-color: #bbbbbb;
    -fx-font-size: 13px;
    -fx-font-family: Verdana;
}

/*choicebox og combobox superbruker*/
.cb {
    -fx-font-family: Verdana;
    -fx-background-color: #ffffff;
    -fx-border-color: #bbbbbb;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
}

.cb .scroll-bar {
    -fx-background-color: white;
    -fx-pref-width: 6px;
    -fx-pref-height: 5px;
}
.cb .scroll-bar .thumb {
    -fx-background-color: rgba(161, 161, 161, 0.49);
}

/*Listview, computerview og totalpris i endUser*/

.shopCart {
    -fx-font-family: Verdana;
    -fx-background-color: #ffffff;
    -fx-border-color: rgba(187, 187, 187, 0.32);
    -fx-border-radius: 4px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.08), 5, 0.5, 1, 1);
}

.inputDescription {
    -fx-wrap-text: true;
}

.scroll-pane > .viewport {
    -fx-background-color: rgba(56, 141, 200, 0.15);
}

/*Scroll-bar*/
.scroll-pane .scroll-bar {
    -fx-background-color: white;
    -fx-pref-width: 6px;
    -fx-pref-height: 5px;
}
.scroll-pane .scroll-bar .thumb {
    -fx-background-color: rgba(161, 161, 161, 0.49);
}


/*Pris til høyre*/

#lblTotalPriceDetails {
    -fx-alignment: center-right;
    -fx-padding: 0 3 0 0;
}

#lblComputerPrice {
    -fx-alignment: center-right;
    -fx-padding: 0 10 0 0;
}